.w-50{
    width: 100% !important;
    height: 75vh;
}

.card{
    box-shadow: -5px 5px 0px;
    

}
.hr{
    border-top: 8px solid #bbb;
    border-radius: 5px;

}
.anime{
    width: 100% !important;
    height: 50vh;

}
